@font-face{
    font-family:'header'; 
    src: url("fonts/Raleway-Italic-VariableFont_wght.ttf") format("truetype"),
         url("fonts/Raleway-VariableFont_wght.ttf") format("truetype");
}
body{
    background-color: gray; 
}
h1{
    font-family: 'Tilt Prism';
    font-variant: small-caps;
    font-size: 50px;
    text-align: center;
}
p{
    font-family: header;
    color: white;
    font-size: 22px;
    text-align: center;
}