.box{
    width: 38vw;
    height: 90vh;
    border: 10px solid yellow;
}
.box1{
    border: 15px solid blue;
    width:auto;
    height: auto;
    background-origin: content-box;
    padding: 0;
    margin: 0;
}
.box2{
    width: auto;
    height: auto;
    border: 30px solid aqua;
    font-size: 19px;
}
h1{
    text-align: center;
}