body{
    background-image: linear-gradient(to right, rgb(172, 170, 170) , rgba(23, 0, 124, 0.842));
} 
.box{
    width: 300px;
    height: 420px;
    border: 2px solid white;
    margin: 0 auto;
    margin-top: 30px;
    word-spacing: 10px;
}
.box:hover{
    background-image: linear-gradient(to right, aqua , rgba(9, 9, 255, 0.952));
}
.box:hover span{
    font-size: 0;
}
.box:hover .matne{
    font-size: 18px;
    padding: 25px;
    font-family: 'ABeeZee';
    color: white;
}
.box:hover .titre{
    color: darkblue;
    font-size: 80px;
    font-weight: 100;
}
.titre{
    font-family: 'Dancing Script';
    color: aqua;
    margin: 0;
    text-align: center;
    font-size: 55px;
}
.matne{
    font-size: 0;
}
span{
    color: orangered;
    font-size: 280px;
    padding-left: 10px;
}

