.image1{
    background-image: url("image/night.avif");
    background-size: cover;
    background-position: center;
    background-origin: content-box;
    background-clip: content-box;
    background-attachment: fixed;
    height: 600px;
    width: 1350px;
    padding: 0px;
    
}
.t1{
    text-align: center;
    border: 2px solid rgb(1, 1, 155);
    width: 180px;
    height: 30px;
    margin: 0 auto;
    background-color: rgb(1, 1, 155);
    color: white;
    padding-top: 5px;
}
.text1{
    width: 1310px;
    height: 100px;
    background-color: rgb(98, 47, 146);
    font-size: 18px;
    padding: 20px;
    color: white;
}
.image2{
    background-image: url("image/sea.avif");
    background-size: cover;
    background-position: center;
    background-origin: content-box;
    background-clip: content-box;
    background-attachment: fixed;
    height: 600px;
    width: 1350px;
    padding: 0px;
}
.t2{
    text-align: center;
    border: 2px solid rgb(0, 162, 255);
    width: 180px;
    height: 30px;
    margin: 0 auto;
    background-color: rgb(0, 162, 255);
    color: black;
    padding-top: 5px;
}
.text2{
    width: 1310px;
    height: 100px;
    background-color: rgb(17, 155, 79);
    font-size: 18px;
    padding: 20px;
    color: white;
}
.image3{
    background-image: url("image/waterfall.avif");
    background-size: cover;
    background-position: center;
    background-origin: content-box;
    background-clip: content-box;
    background-attachment: fixed;
    height: 600px;
    width: 1350px;
    padding: 0px;
}
.t3{
    text-align: center;
    border: 2px solid rgb(7, 185, 126);
    width: 180px;
    height: 30px;
    margin: 0 auto;
    background-color: rgb(7, 185, 126);
    color: black;
    padding-top: 5px;
}
.text3{
    width: 1310px;
    height: 100px;
    background-color: rgb(31, 215, 240);
    font-size: 18px;
    padding: 20px;
    color: white;
}