body{
    margin-top: 30px;
    background-color: darkgray;
}
.botton{
    background-color: grey;
    width: 9vw;
    height: 4vh;
    font-size: 16px;
    border-radius: 2px;
    margin-top: 5px;
    color: white;
    font-family: "Open Sans";
}
.botton:hover{
    background-color: aqua;
}
.botton:hover i{
    color: black;
}
.botton:active{
    background-color: blue;
}
.botton:active i{
    color: white;
}
i{
    border-right: 2px solid black;
    margin: 0;
    color: aqua;
}
i:active{
    color: white;
}
span{
    padding-left: 10px;
}